body{
	font-family: cursive;
	background-image:url("https://i.imgur.com/xvDxnfY.jpg");
  
}

p {
	font-size: 20px;
}

ul {
	padding: 0px;
}

.maincontent {
	background-color: rgba(255, 255, 255, 0.45);
	margin-top: 160px;
	margin:auto;
	max-width: 1000px;
	border-radius: 5px;
}

.welcomeText {
	margin-top: 20px;
	margin-bottom: 20px;
}

.btn-success {
	background-color: #26519C;
	border: 1px solid rgba(212, 165, 11, 0.61);
	font-size: 24px;
}
.options li {
	list-style: none;
	font-size: 24px;
	padding:10px, 25px;
	margin:10px auto;
	max-width: 300px;
	border: 1px solid #00adef;
}

.options li:hover, .options li:focus {
	background-color: #00adef;
	border: 1px solid #00adef;
	color:beige;
}

.correct {
	background-color: #8cc63e;
	border: 1px solid #8cc63e;
	font-weight: 700;
	color:beige;
}

.wrong {
	background-color: green;
	border: 1px solid green;
	font-weight: 700;
	color:beige;
}

.text, .options {
	margin-top: 25px;
	margin-bottom: 25px;
}

.result {
	margin-top: 40px;
	margin-bottom: 40px;
}

.result p {
	font-weight: 700;
}
